/* CSS file */
Application {
   backgroundColor: #333333;
   backgroundGradientColors: #333333, #5d5d5d;
   themeColor: #666666;
   color: #333333;
   font-size:10pt;
}
Alert {
	backgroundAlpha:0.75;
    backgroundColor:#333333;
    borderAlpha:0.5;
    borderColor:#333333;
    dropShadowEnabled:false;
}
FormHeading
{
	indicatorGap:0px;
	font-size:10pt;
}
TabNavigator {
   paddingRight:0;
   backgroundAlpha: 1;
   
   tabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
   
   horizontalGap: -1;
   horizontalAlign: center;
   
   tabOffset: 0;
   textIndent: 0;
   borderStyle: solid;
}
.centeredBox
{
	horizontalAlign:center;
	verticalAlign:middle;
}
.myTabs {
   cornerRadius: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1;
   backgroundAlpha: 1;
}

.mySelectedTabs {
}
.simpleNormal
{
	text-decoration:none;
}
.simpleOver
{
	text-decoration:underline;
	color:#FFFFFF;
}
FormItem
{
	verticalGap:3px;
}
.namingConventionDataGrid {
	horizontalGridLines: true;
	horizontalGridLineColor: #cccccc;
	headerStyleName: "dataGridHeaderStyle";
}
.dataGridHeaderStyle {
   textAlign:center;
   fontWeight: bold;
   font-size:9pt;
}
LinkButton {
   cornerRadius: 0;
   rollOverColor: #333333;
   selectionColor: #333333;
   color: #666666;
   textRollOverColor: #ffffff;
   textSelectedColor: #e6e6e6;
}
HRule {
	strokeColor: #CCCCCC;
	strokeWidth: 1;
}
ControlBar
{
	padding-bottom:5px;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
	horizontalAlign: right;
}
ComboBox, ToolTip
{
	cornerRadius: 0;
}
Button
{
	fillAlphas: 1, 1, 1, 1;
	cornerRadius: 0;
}
Panel, TitleWindow {
	borderAlpha: 1;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	borderThicknessLeft: 5;
	borderThicknessTop: 0;
	borderThicknessBottom: 5;
	borderThicknessRight: 5;
	roundedBottomCorners: false;
	cornerRadius: 0;
	headerHeight: 25;
	dropShadowEnabled: false;
	titleStyleName: "mypanelTitle";
}
.parentPanel
{
	borderColor: #999999;
}
.mypanelTitle {
   fontWeight: bold;
}
Form
{
	padding-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
}
FormItem
{
	font-weight:bold;
}
TextInput
{
	font-weight:normal;
}
.alignLeft
{
	textAlign:left;
}

.panelTitle 
{
	color:#FFFFFF;
	fontSize: 11;
	fontWeight: bold;
}
.progressPanelTitle 
{
	color:#FFFFFF;
	fontSize: 11;
	textAlign:center;
	fontWeight: bold;
}
.menuBox
{
	verticalGap: 0;
	padding-left:5px;
	padding-right:5px;
	backgroundAlpha:0.2;
	backgroundColor:#000000;
	borderStyle:none;
	borderColor:#333333;
	verticalAlign:middle;
}
.simpleNormal
{
	color:#FFFFFF;
}
.padded
{
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
}
.padded5px
{
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}
.paddedTab
{
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
.unpaddedPanel
{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}

Tree, List, DataGrid 
{
   rollOverColor: #cccccc;
   selectionColor: #ebebeb;
}

.warningArea
{
	border-style:none;
	color:#990000;
}
