<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <!--<META Http-Equiv="Cache-Control" Content="no-cache">
		<META Http-Equiv="Pragma" Content="no-cache">
		<META Http-Equiv="Expires" Content="0">-->
		
        <link rel="stylesheet" href="assets/stylesheet/html_style.css" type="text/css">
        <script src="assets/scripts/swfobject.js" type="text/javascript" ></script>
        <script src="assets/scripts/swfaddress.js" type="text/javascript" ></script>
        
        <script type="text/javascript">
        	var swfsPath = "assets/swfs/";
        	var currentDate = new Date();
  
        	var flashvars = {};
			var params = {};
			var params = {};
			params.menu = "false";
			params.scale = "noscale";
			params.allowscriptaccess = "always";
			params.base = swfsPath;
			var attributes = {};
			attributes.id = "shell";
			swfobject.embedSWF(swfsPath+"shell.swf", "content", "800", "500", "9", swfsPath+"expressInstall.swf", flashvars, params, attributes);
			//swfobject.embedSWF(swfsPath+"shell.swf?t="+currentDate.getTime(), "content", "800", "500", "9", swfsPath+"expressInstall.swf", flashvars, params, attributes);
		</script>
		
    </head>
    <body>
        <div id="content" align="center">
            <p>In order to view this page you need JavaScript and Flash Player 9+ support!</p>
        </div>
        
    </body>
</html>